@font-face {
	font-family: 'OpenSans';
	src: url("../fonts/OpenSans-Regular.eot");
	src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans-Regular.svg#OpenSans-Regular") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: swap; }

@font-face {
	font-family: 'OpenSans';
	src: url("../fonts/OpenSans-Light.eot");
	src: url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("truetype"), url("../fonts/OpenSans-Light.svg#OpenSans-Light") format("svg");
	font-weight: 300;
	font-style: normal;
	font-display: swap; }

@font-face {
	font-family: 'OpenSans';
	src: url("../fonts/OpenSans-Bold.eot");
	src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
	font-weight: bold;
	font-style: normal;
	font-display: swap; }

@font-face {
	font-family: 'OpenSans';
	src: url("../fonts/OpenSans-SemiBold.eot");
	src: url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype"), url("../fonts/OpenSans-SemiBold.svg#OpenSans-SemiBold") format("svg");
	font-weight: 600;
	font-style: normal;
	font-display: swap; }

* {
	-webkit-box-sizing: border-box;
					box-sizing: border-box; }



h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	line-height: normal; }

ul {
	margin: 0;
	padding: 0; }

input,
button,
textarea,
select {
	-webkit-appearance: none;
		 -moz-appearance: none;
					appearance: none;
	outline: none; }

img {
	max-width: 100%;
	height: auto; }

.dashboard .main-wrapper {
	background-color: #F3F3F4;
	width: 1440px; }

.dashboard .main-content {
	width: 84.8%;
	padding: 25px 25px 0; }

.dashboard .main-title {
	background: -o-linear-gradient(359.18deg, #25BA7B 0.08%, rgba(37, 186, 123, 0) 100%), #52B095;
	background: linear-gradient(90.82deg, #25BA7B 0.08%, rgba(37, 186, 123, 0) 100%), #52B095;
	border-radius: 4px;
	padding: 30px;
	padding-right: 320px;
	position: relative;
	overflow: hidden; }
	.main-title-value {
		font-size: 32px;
		font-weight: 300;
		color: #fff;
		line-height: 1.3; }
	.main-title-img {
		position: absolute;
		top: 0;
		right: 20px; }
	.main-title-close {
		position: absolute;
		top: 8px;
		right: 8px;
		z-index: 3; }
	.main-title-shops-list {
		margin-bottom: 25px;
		display: none; }
		.main-title-shops-list-item {
			display: inline-block;
			margin-right: 12px;
			width: 50px;
			height: 50px; }
			.main-title-shops-list-item:last-child {
				margin-right: 0; }

.dashboard .main-leader-title {
	font-size: 24px;
	font-weight: bold;
	color: #35404F;
	margin-bottom: 40px; }

.dashboard .main-leader-tabs {
	padding-top: 65px;
	padding-bottom: 40px; }
	.main-leader-tabs-nav {
		margin-bottom: 25px; }
		.main-leader-tabs-nav-item {
			display: inline-block;
			font-size: 16px;
			font-weight: 600;
			color: #7E8999;
			margin-right: 25px;
			-webkit-transition: .5s;
			-o-transition: .5s;
			transition: .5s;
			cursor: pointer;
			position: relative; }
			.main-leader-tabs-nav-item:after {
				content: '';
				width: 0%;
				height: 2px;
				background-color: #52B095;
				position: absolute;
				bottom: -2px;
				left: 0;
				-webkit-transition: .5s;
				-o-transition: .5s;
				transition: .5s; }
			.main-leader-tabs-nav-item:last-child {
				margin-right: 0; }
			.main-leader-tabs-nav-item:hover {
				color: #52B095; }
				.main-leader-tabs-nav-item:hover:after {
					width: 100%; }
			.main-leader-tabs-nav-item.active {
				color: #52B095; }
				.main-leader-tabs-nav-item.active:after {
					width: 100%; }
	.main-leader-tabs-content {
		display: none; }
		.main-leader-tabs-content.active {
			display: block; }

.dashboard .main-new {
	padding-top: 35px;
	padding-bottom: 60px; }
	.main-new-title {
		font-size: 24px;
		font-weight: bold;
		color: #35404F;
		margin-bottom: 25px; }

.dashboard .product-item {
	background-color: #fff;
	border-radius: 4px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 15px; }
	.product-item:last-of-type {
		margin-bottom: 0; }
	.product-item-left {
		width: 69%;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: start;
		-webkit-align-items: flex-start;
				-ms-flex-align: start;
						align-items: flex-start;
		padding: 15px 95px 25px 30px;
		position: relative; }
	.product-item-shop {
		position: absolute;
		top: 20px;
		right: 30px; }
	.product-item-img {
		width: 128px;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
				-ms-flex-pack: center;
						justify-content: center;
		margin-right: 30px; }
	.product-item-name {
		font-size: 14px;
		color: #337AB7;
		margin-bottom: 15px;
		-webkit-transition: .5s;
		-o-transition: .5s;
		transition: .5s; }
		.product-item-name:hover {
			color: #52B095; }
		.product-item-name:focus, .product-item-name:active {
			color: #337AB7; }
	.product-item-cost {
		font-size: 16px;
		font-weight: bold;
		color: #35404F; }
		.product-item-cost-old {
			margin: 0 15px;
			font-size: 16px;
			font-weight: bold;
			color: #A5ADB8;
			text-decoration: line-through; }
		.product-item-cost-discount {
			font-size: 16px;
			font-weight: bold;
			color: #FF8D69; }
		.product-item-cost-wrapper {
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-webkit-align-items: center;
					-ms-flex-align: center;
							align-items: center;
			margin-bottom: 15px; }
	.product-item-info {
		width: 90%;
		padding-top: 10px; }
		.product-item-info-item {
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-webkit-align-items: center;
					-ms-flex-align: center;
							align-items: center;
			margin-bottom: 8px; }
			.product-item-info-item:last-of-type {
				margin-bottom: 0; }
			.product-item-info-item-title {
				font-size: 12px;
				color: #A5ADB8;
				margin-right: 5px; }
			.product-item-info-item-value {
				font-size: 12px; }
	.product-item-tabs {
		width: 31%;
		padding: 25px;
		border-left: 1px solid #E6E6E6;
		position: relative; }
		.product-item-tabs-nav {
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			list-style: none; }
			.product-item-tabs-nav-item {
				width: 105px;
				padding: 5px;
				text-align: center;
				font-size: 14px;
				border: 1px solid #E6E6E6;
				cursor: pointer; }
				.product-item-tabs-nav-item.active {
					-webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
									box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
					border-color: #ccc; }
				.product-item-tabs-nav-item-1 {
					border-radius: 4px 0 0 4px; }
				.product-item-tabs-nav-item-3 {
					border-radius: 0 4px 4px 0; }
		.product-item-tabs-content {
			display: none; }
			.product-item-tabs-content.active {
				display: block; }
	.product-item-revenue {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: end;
		-webkit-align-items: flex-end;
				-ms-flex-align: end;
						align-items: flex-end;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
				-ms-flex-pack: justify;
						justify-content: space-between;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 25px; }
		.product-item-revenue-value {
			font-size: 24px;
			color: #35404F;
			line-height: 1; }
	.product-item-sales {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: end;
		-webkit-align-items: flex-end;
				-ms-flex-align: end;
						align-items: flex-end;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
				-ms-flex-pack: justify;
						justify-content: space-between;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 25px; }
		.product-item-sales-value {
			font-size: 24px;
			color: #35404F;
			line-height: 1; }
	.product-item-reviews {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
				-ms-flex-align: center;
						align-items: center;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
				-ms-flex-pack: justify;
						justify-content: space-between;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 25px; }
		.product-item-reviews-value {
			font-size: 24px;
			color: #35404F;
			line-height: 1; }
		.product-item-reviews-rating {
			background: url("../img/star.svg") no-repeat left center;
			padding-left: 32px;
			font-size: 24px;
			font-weight: bold;
			color: #A5ADB8; }
	.product-item-check {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: end;
		-webkit-align-items: flex-end;
				-ms-flex-align: end;
						align-items: flex-end;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
				-ms-flex-pack: justify;
						justify-content: space-between;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 25px; }
		.product-item-check-value {
			font-size: 24px;
			color: #35404F;
			line-height: 1; }
	.product-item-category-title {
		font: 16px;
		color: #35404F;
		margin-bottom: 25px; }
		.product-item-category-title a {
			color: #337AB7; }
			.product-item-category-title a:hover, .product-item-category-title a:focus, .product-item-category-title a:active {
				color: #337AB7; }
	.product-item-sellers .product-item-left {
		padding-bottom: 40px; }
	.product-item-sellers .product-item-name {
		font-size: 16px;
		margin-bottom: 25px; }

/* Media(Adaptive) */
@media only screen and (max-width: 1500px) {
	.dashboard .main-wrapper {
		width: 100%; }
	.dashboard .main-content {
		width: 91%;
		padding: 0 30px; } }

@media only screen and (max-width: 1199px) {
	.dashboard .product-item-revenue-value, .product-item-sales-value, .product-item-reviews-value, .product-item-check-value {
		font-size: 20px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
	.dashboard .main-title {
		padding-right: 40px; }
		.main-title-shops-list {
			display: block; }
		.main-title-img {
			display: none; }
		.main-title-value {
			font-size: 24px; }
	.dashboard .main-leader-tabs {
		padding-bottom: 30px; }
	.dashboard .main-new {
		padding-bottom: 35px; }
	.dashboard .product-item {
		display: block; }
		.product-item-left {
			width: 100%; }
		.product-item-tabs {
			width: 100%;
			border-top: 1px solid #E6E6E6;
			border-left: none;
			padding-bottom: 70px; }
			.product-item-tabs-nav {
				margin-bottom: 30px; }
		.product-item-revenue-value, .product-item-sales-value, .product-item-reviews-value, .product-item-check-value {
			font-size: 24px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
	.dashboard .main-content {
		width: 100%;
		padding: 15px 15px 0; }
	.dashboard .main-title {
		padding: 15px; }
		.main-title-shops-list {
			margin-bottom: 20px; }
		.main-title-value {
			font-size: 20px; }
	.dashboard .main-leader-title {
		font-size: 20px;
		margin-bottom: 25px; }
	.dashboard .main-leader-tabs {
		padding-top: 50px; }
	.dashboard .main-new {
		padding-top: 15px; }
		.main-new-title {
			font-size: 20px; }
	.dashboard .product-item-left {
		display: block;
		padding: 25px 15px; }
	.dashboard .product-item-img {
		width: 100%;
		margin-bottom: 15px; }
	.dashboard .product-item-info {
		width: 100%; }
	.dashboard .product-item-tabs {
		padding: 25px 15px 15px;
		padding-bottom: 70px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 479px) {
	.dashboard .product-item-name {
		overflow: hidden;
		-o-text-overflow: ellipsis;
			 text-overflow: ellipsis;
		display: -moz-box;
		display: -webkit-box;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
		line-clamp: 4;
		box-orient: vertical; } }

@media only screen and (max-width: 374px) {
	.dashboard .main-leader-tabs-nav-item {
		margin-right: 10px; }
	.dashboard .product-item-name {
		-webkit-line-clamp: 3;
		line-clamp: 3; }
	.dashboard .product-item-tabs {
		padding-bottom: 110px; }
	.dashboard .product-item-revenue, .product-item-sales, .product-item-reviews, .product-item-check {
		display: block; }
		.product-item-revenue-value, .product-item-sales-value, .product-item-reviews-value, .product-item-check-value {
			margin-bottom: 15px; } }
