<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Бренды</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">
                <a href="/client/dashboard">Главная</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Бренды</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div id="get-extra-days" class="ibox-content" style="display: none;">
    <div class="sk-spinner sk-spinner-wave">
        <div class="sk-rect1"></div>
        <div class="sk-rect2"></div>
        <div class="sk-rect3"></div>
        <div class="sk-rect4"></div>
        <div class="sk-rect5"></div>
    </div>
    <div class="row">
        <h2>Пройдите обучение и получите +6 дней премиум доступа в подарок!</h2>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="extra-video active" data-days="1" data-lesson="40129654" data-step="0" data-video-id="lw9KLm1C0mU">
                    <img src="/client/img/extra-days-preview.png" alt="" />
                    <p>Урок 1</p>
                    <span>Обратный поиск товаров</span>
                    <div class="extra-video-label">Урок не пройден</div>
                    <div class="extra-video-play active"></div>
                </div>
            </div>
            <div class="col">
                <div class="extra-video" data-days="1" data-lesson="40129657" data-step="1" data-video-id="pIPzI2KxCcA">
                    <img src="/client/img/extra-days-preview.png" alt="" />
                    <p>Урок 2</p>
                    <span>Анализ ниш на маркетплейсах</span>
                    <div class="extra-video-label">Урок не пройден</div>
                    <div class="extra-video-play"></div>
                </div>
            </div>
            <div class="col">
                <div class="extra-video" data-days="1" data-lesson="40129669" data-step="2" data-video-id="gz8dw0Sfx3s">
                    <img src="/client/img/extra-days-preview.png" alt="" />
                    <p>Урок 3</p>
                    <span>Выявление хайповых товаров на маркетплейсах</span>
                    <div class="extra-video-label">Урок не пройден</div>
                    <div class="extra-video-play"></div>
                </div>
            </div>
            <div class="col">
                <div class="extra-video" data-days="1" data-lesson="40129672" data-step="3" data-video-id="hjpdOSwQ0es">
                    <img src="/client/img/extra-days-preview.png" alt="" />
                    <p>Урок 4</p>
                    <span>Аналитика категорий на маркетплейсах</span>
                    <div class="extra-video-label">Урок не пройден</div>
                    <div class="extra-video-play"></div>
                </div>
            </div>
            <div class="col">
                <div class="extra-video" data-days="1" data-lesson="40129675" data-step="4" data-video-id="9a9F3tqpJoo">
                    <img src="/client/img/extra-days-preview.png" alt="" />
                    <p>Урок 5</p>
                    <span>Конкурентный анализ</span>
                    <div class="extra-video-label">Урок не пройден</div>
                    <div class="extra-video-play"></div>
                </div>
            </div>
            <div class="col">
                <div class="extra-video" data-days="6" data-lesson="40193338" data-step="5" data-video-id="ZRc2Bwwwl18">
                    <img src="/client/img/extra-days-preview.png" alt="" />
                    <p>Урок 6</p>
                    <span>API кабинет и аналитика собственного магазина</span>
                    <div class="extra-video-label"><img src="/client/img/video-gift.svg" alt=""> + 6 дней после прохождения!</div>
                    <div class="extra-video-play"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="close-extra-video"><img src="/client/img/video-close.svg" alt=""></div>
</div>

<div class="wrapper wrapper-content" id="content">

    <div class="row">
        <div class="col-lg-12">
            <div data-toggle="buttons" class="btn-group btn-group-toggle date-selector">
                <span>Выберите период:</span>
                <label class="btn btn-sm btn-white active"> <input type="radio" checked id="option1" name="period" value="week"> 7 дн. </label>
                <label class="btn btn-sm btn-white"> <input type="radio" id="option2" name="period" value="two_weeks"> 14 дн. </label>
                <label class="btn btn-sm btn-white"> <input type="radio" id="option3" name="period" value="month"> 30 дн. </label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="tabs-container">
                <ul class="nav nav-tabs" style="float: left" role="tablist">
                    <li>
                        <a class="nav-link active" data-toggle="tab" href="#tab-1">Все</a>
                    </li>
                    <li>
                        <a class="nav-link" data-field="mp" data-field-value="wildberries" data-toggle="tab" href="#tab-1">Wildberries</a>
                    </li>
                    <li>
                        <a class="nav-link" data-toggle="tab" data-field="mp" data-field-value="ozon"  href="#tab-1">Ozon</a>
                    </li>
                    <li>
                        <a class="nav-link" data-toggle="tab" data-field="mp" data-field-value="ali"  href="#tab-1">AliExpress</a>
                    </li>
                    <li>
                        <a class="nav-link" data-toggle="tab" data-field="mp" data-field-value="beru"  href="#tab-1">Я.Маркет</a>
                    </li>
                    <li>
                        <a class="nav-link" data-toggle="tab" data-field="mp" data-field-value="kazan"  href="#tab-1">KazanExpress</a>
                    </li>
                    <li>
                        <a class="nav-link" data-toggle="tab" data-field="mp" data-field-value="sber"  href="#tab-1">СберМегаМаркет</a>
                    </li>
                </ul>
                <ul class="nav nav-tabs" style="float: right" role="tablist">
                    <li data-placement="top" data-original-title="Товар, проданный через площадку маркетплейса">
                        <a class="nav-link active" data-field="type" data-field-value="fbo" data-toggle="tab" href="#tab-1">FBO</a>
                    </li>
                    <li data-toggle="tooltip" data-placement="top" data-original-title="Товар, проданный через склад поставщика">
                        <a class="nav-link" data-toggle="tab" data-field="type" data-field-value="fbs"  href="#tab-1">FBS</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" id="tab-1" class="tab-pane active">
                        <div class="panel-body ibox-content sk-loading">
                            <div class="sk-spinner sk-spinner-wave">
                                <div class="sk-rect1"></div>
                                <div class="sk-rect2"></div>
                                <div class="sk-rect3"></div>
                                <div class="sk-rect4"></div>
                                <div class="sk-rect5"></div>
                            </div>
                            <div class="table-responsive">
                                <ul class="only-new">
                                    <li><strong>Только новинки</strong></li>
                                    <li>
                                        <div class="switch" style="">
                                            <div class="onoffswitch">
                                                <input type="checkbox" name="is_new" class="onoffswitch-checkbox" id="example1">
                                                <label class="onoffswitch-label" for="example1">
                                                    <span class="onoffswitch-inner"></span>
                                                    <span class="onoffswitch-switch"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                                <ul class="show-filters">
                                    <li><strong>Фильтры и выгрузка</strong></li>
                                    <li>
                                        <div class="switch" style="">
                                            <div class="onoffswitch">
                                                <input type="checkbox" name="" class="onoffswitch-checkbox" id="example2">
                                                <label class="onoffswitch-label" for="example2">
                                                    <span class="onoffswitch-inner"></span>
                                                    <span class="onoffswitch-switch"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                                <form action="" class="custom-filters" id="product-filters" style="display: none;">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="row" data-field="q[turnover][between]">
                                                <div class="col-lg-5"><strong>Оборот</strong></div>
                                                <div class="col-lg-7">
                                                    <input type="number" class="form-control" placeholder="От">
                                                    <input type="number" class="form-control" placeholder="До">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="row" data-field="q[rating][between]">
                                                <div class="col-lg-4"><strong>Рейтинг</strong></div>
                                                <div class="col-lg-8">
                                                    <input type="number" class="form-control" placeholder="От">
                                                    <input type="number" class="form-control" placeholder="До">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="row" data-field="q[average_bill][between]">
                                                <div class="col-lg-5"><strong>Средний чек</strong></div>
                                                <div class="col-lg-7">
                                                    <input type="number" class="form-control" placeholder="От">
                                                    <input type="number" class="form-control" placeholder="До">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="row" data-field="q[total_sales][between]">
                                                <div class="col-lg-5"><strong>Продажи</strong></div>
                                                <div class="col-lg-7">
                                                    <input type="number" class="form-control" placeholder="От">
                                                    <input type="number" class="form-control" placeholder="До">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="row" data-field="q[products_count][between]">
                                                <div class="col-lg-4"><strong>Товаров</strong></div>
                                                <div class="col-lg-8">
                                                    <input type="number" class="form-control" placeholder="От">
                                                    <input type="number" class="form-control" placeholder="До">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <button class="btn btn-warning" data-type="export" style="float: right;margin-top: 10px; margin-left: 10px;"><i class="fa fa-download"></i></button>
                                            <button class="btn btn-primary" data-type="filter" style="float: right;margin-top: 10px;">Применить</button>
                                        </div>
                                    </div>
                                </form>
                                <table id="model-table" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Бренд</th>
                                            <th>Товаров</th>
                                            <th>Рейтинг</th>
                                            <th>Средний чек</th>
                                            <th class="sorting" data-sort="total_sales">Продажи</th>
                                            <th class="sorting" data-state="-turnover" data-sort="turnover">Оборот</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <a style="display: none;" class="btn btn-primary btn-rounded btn-block" id="show-more" href="#">Показать еще</a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/client/js/pages/brands.js?id=7"></script>