<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2 class="page-name">Бренд</h2>
        <p style="margin-top: -10px;" class="category-path"></p>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">
                <a href="/client/dashboard">Главная</a>
            </li>
            <li class="breadcrumb-item active">
                <a href="/client/brands">Бренды</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Бренд</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content" id="content">
    <div class="row to-toggle-loader">
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Выручка</h5>
                </div>
                <div class="ibox-content sk-loading">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <h1 class="no-margins" id="turnover">40 886,200</h1>
                    <div class="stat-percent font-bold" id="turnover-diff"></div>
                    <small>Разница со вчерашним днем:</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Продаж</h5>
                </div>
                <div class="ibox-content sk-loading">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <h1 class="no-margins" id="sales">275,800</h1>
                    <div class="stat-percent font-bold" id="sales-diff"></div>
                    <small>Разница со вчерашним днем:</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Средний чек</h5>
                </div>
                <div class="ibox-content sk-loading">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <h1 class="no-margins" id="bill">106,120</h1>
                    <div class="stat-percent font-bold" id="bill-diff"></div>
                    <small>Разница со вчерашним днем:</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Остатки</h5>
                </div>
                <div class="ibox-content sk-loading">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <h1 class="no-margins" id="amount">80,600</h1>
                    <div class="stat-percent font-bold" id="amount-diff"></div>
                    <small>Разница со вчерашним днем:</small>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div data-toggle="buttons" class="btn-group btn-group-toggle date-selector" style="float: left;">
                <span>Выберите период:</span>
                <label class="btn btn-sm btn-white active"> <input type="radio" checked id="option1" name="period" value="week"> 7 дн. </label>
                <label class="btn btn-sm btn-white"> <input type="radio" id="option2" name="period" value="two_weeks"> 14 дн. </label>
                <label class="btn btn-sm btn-white"> <input type="radio" id="option3" name="period" value="month"> 30 дн. </label>
                <label class="btn btn-sm btn-white"> <input type="radio" id="option4" name="period" value="period"> Период </label>
            </div>
            <div class="form-group" style="display: none;float: left;margin-left: 9px;margin-top: 2px;">
                <input type="text" id="date" name="q[date][between]" class="form-control">
            </div>
        </div>
    </div>

    <diw class="row to-toggle-loader">
        <div class="col-lg-6">
            <div class="ibox ">
                <div class="ibox-title">
                    <h4 class="font-bold no-margins">Состояние склада</h4>
                </div>
                <div class="ibox-content sk-loading">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <div>
                        <canvas style="margin: 0 auto;" id="chart-amount" height="300"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox ">
                <div class="ibox-title">
                    <h4 class="font-bold no-margins">Динамика продаж</h4>
                </div>
                <div class="ibox-content sk-loading">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <div>
                        <canvas style="margin: 0 auto;" id="chart-price" height="300" ></canvas>
                    </div>
                </div>
            </div>
        </div>
    </diw>

    <diw class="row to-toggle-loader">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h4 class="font-bold no-margins">Распределение числа продаж от цены на товар</h4>
                </div>
                <div class="ibox-content sk-loading">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <div>
                        <canvas style="margin: 0 auto;" id="chart-prices2" height="400"></canvas>
                    </div>
                    <div style="margin-left: 65px;">
                        <input type="hidden" id="price-from" value="0">
                        <input type="hidden" id="price-to" value="0">
                        <div id="slider-range" style="margin-bottom: 15px;"></div>
                        <p><strong>Выбранный диапазон цен:</strong> <span id="amount-range"></span> <button id="apply-prices" type="button" class="btn btn-outline btn-primary">Показать товары</button></p>
                    </div>
                </div>
            </div>
        </div>
    </diw>

    <div class="row">
        <div class="col-lg-12">
            <div class="tabs-container">
                <ul class="nav nav-tabs" style="float: right" role="tablist">
                    <li data-placement="top" data-original-title="Товар, проданный через площадку маркетплейса">
                        <a class="nav-link active" data-field="type" data-field-value="fbo" data-toggle="tab" href="#tab-1">FBO</a>
                    </li>
                    <li data-toggle="tooltip" data-placement="top" data-original-title="Товар, проданный через склад поставщика">
                        <a class="nav-link" data-toggle="tab" data-field="type" data-field-value="fbs"  href="#tab-1">FBS</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" id="tab-1" class="tab-pane active">
                        <div class="panel-body ibox-content sk-loading">
                            <div class="sk-spinner sk-spinner-wave">
                                <div class="sk-rect1"></div>
                                <div class="sk-rect2"></div>
                                <div class="sk-rect3"></div>
                                <div class="sk-rect4"></div>
                                <div class="sk-rect5"></div>
                            </div>
                            <div class="table-responsive">
                                <ul class="only-new">
                                    <li><strong>Только новинки</strong></li>
                                    <li>
                                        <div class="switch" style="">
                                            <div class="onoffswitch">
                                                <input type="checkbox" name="is_new" class="onoffswitch-checkbox" id="example1">
                                                <label class="onoffswitch-label" for="example1">
                                                    <span class="onoffswitch-inner"></span>
                                                    <span class="onoffswitch-switch"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                                <ul class="show-filters">
                                    <li><strong>Фильтры и выгрузка</strong></li>
                                    <li>
                                        <div class="switch" style="">
                                            <div class="onoffswitch">
                                                <input type="checkbox" name="" class="onoffswitch-checkbox" id="example2">
                                                <label class="onoffswitch-label" for="example2">
                                                    <span class="onoffswitch-inner"></span>
                                                    <span class="onoffswitch-switch"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                                <form action="" class="custom-filters" id="product-filters" style="display: none;">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="row" data-field="q[turnover][between]">
                                                <div class="col-lg-5"><strong>Оборот</strong></div>
                                                <div class="col-lg-7">
                                                    <input type="number" class="form-control" placeholder="От">
                                                    <input type="number" class="form-control" placeholder="До">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="row" data-field="q[total_days_in_period][between]">
                                                <div class="col-lg-4"><strong>Период<span style="float: none;" class="information-tooltip" data-toggle="tooltip" data-placement="top" data-original-title="Количество дней за выбранный период, имеющих запись о товаре">?</span></strong></div>
                                                <div class="col-lg-8">
                                                    <input type="number" class="form-control" placeholder="От">
                                                    <input type="number" class="form-control" placeholder="До">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="row" data-field="q[rating][between]">
                                                <div class="col-lg-5"><strong>Рейтинг</strong></div>
                                                <div class="col-lg-7">
                                                    <input type="number" class="form-control" placeholder="От">
                                                    <input type="number" class="form-control" placeholder="До">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="row" data-field="q[loses][between]">
                                                <div class="col-lg-5"><strong>Упущенный оброт <span style="float: none;" class="information-tooltip" data-toggle="tooltip" data-placement="top" data-original-title="Упущенная прогнозируемая выручка вызванная обнулением остатков">?</span></strong></div>
                                                <div class="col-lg-7">
                                                    <input type="number" class="form-control" placeholder="От">
                                                    <input type="number" class="form-control" placeholder="До">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="row" data-field="q[last_amount][between]">
                                                <div class="col-lg-4"><strong>Остаток </strong></div>
                                                <div class="col-lg-8">
                                                    <input type="number" class="form-control" placeholder="От">
                                                    <input type="number" class="form-control" placeholder="До">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="row" data-field="q[reviews][between]">
                                                <div class="col-lg-5"><strong>Отзывы</strong></div>
                                                <div class="col-lg-7">
                                                    <input type="number" class="form-control" placeholder="От">
                                                    <input type="number" class="form-control" placeholder="До">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="row" data-field="q[total_sales][between]">
                                                <div class="col-lg-5"><strong>Кол-во продаж</strong></div>
                                                <div class="col-lg-7">
                                                    <input type="number" class="form-control" placeholder="От">
                                                    <input type="number" class="form-control" placeholder="До">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="row" data-field="q[days_with_sales][between]">
                                                <div class="col-lg-4"><strong>Продажи <span style="float: none;" class="information-tooltip" data-toggle="tooltip" data-placement="top" data-original-title="Количество дней за выбранный период, имеющих продажи">?</span></strong></div>
                                                <div class="col-lg-8">
                                                    <input type="number" class="form-control" placeholder="От">
                                                    <input type="number" class="form-control" placeholder="До">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="row" data-field="q[avg_position][between]">
                                                <div class="col-lg-5" style="line-height: 0px;"><strong>Позиция в категории</strong></div>
                                                <div class="col-lg-7">
                                                    <input type="number" class="form-control" placeholder="От">
                                                    <input type="number" class="form-control" placeholder="До">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4"></div>
                                        <div class="col-lg-4"></div>
                                        <div class="col-lg-4">
                                            <button class="btn btn-warning" data-type="export" style="float: right;margin-top: 10px; margin-left: 10px;"><i class="fa fa-download"></i></button>
                                            <button class="btn btn-primary" data-type="filter" style="float: right;margin-top: 10px;">Применить</button>
                                        </div>
                                    </div>
                                </form>
                                <table id="model-table" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Фото</th>
                                            <th>Название</th>
                                            <th>SKU</th>
                                            <th>Продавец</th>
                                            <th>Наличие</th>
                                            <th>Цена</th>
                                            <th style="width: 65px;">ACP<span style="float: none;" class="information-tooltip" data-toggle="tooltip" data-placement="top" data-original-title="Средняя позиция в категории">?</span></th>
                                            <th class="sorting" style="min-width: 95px;" data-sort="loses">LP<span style="float: none;" class="information-tooltip" data-toggle="tooltip" data-placement="top" data-original-title="Упущенная прогнозируемая выручка, вызванная обнулением остатков">?</span></th>
                                            <th class="sorting" style="min-width: 95px;" data-sort="total_sales">Продажи</th>
                                            <th class="sorting" style="min-width: 95px;" data-state="-turnover" data-sort="turnover">Оборот</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <a style="display: none;" class="btn btn-primary btn-rounded btn-block" id="show-more" href="#">Показать еще</a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #modal .modal-dialog {
        max-width: 900px;
    }
</style>
<script src="/client/js/pages/brand.js?id=11"></script>