<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Топ товаров</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">
                <a href="/client/dashboard">Главная</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Товары</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content" id="content">

    <div class="row">
        <div class="col-lg-12">
            <div data-toggle="buttons" class="btn-group btn-group-toggle date-selector">
                <span>Выберите период:</span>
                <label class="btn btn-sm btn-white active"> <input type="radio" checked id="option1" name="period" value="week"> 7 дн. </label>
                <label class="btn btn-sm btn-white"> <input type="radio" id="option2" name="period" value="two_weeks"> 14 дн. </label>
                <label class="btn btn-sm btn-white"> <input type="radio" id="option3" name="period" value="month"> 30 дн. </label>
            </div>
        </div>
    </div>

    <div class="row search-block to-toggle-loader" style="display: none">
        <div class="col">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Объем рынка</h5>
                </div>
                <div class="ibox-content sk-loading">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <h2 class="no-margins" id="turnover">40 886,200</h2>
                    <h5 class="no-margins" id="turnover-diff">40 886,200</h5>
                    <div class="stat-percent font-bold" id="turnover-diff-percent"></div>
                    <small>Разница с пред. периодом:</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Упущенная выручка</h5>
                </div>
                <div class="ibox-content sk-loading">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <h2 class="no-margins" id="loses">275,800</h2>
                    <h5 class="no-margins" id="loses-diff">275,800</h5>
                    <div class="stat-percent font-bold" id="loses-diff-percent"></div>
                    <small>Разница с пред. периодом:</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Общий потенциал рынка</h5>
                </div>
                <div class="ibox-content sk-loading">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <h2 class="no-margins" id="potential_turnover">106,120</h2>
                    <h5 class="no-margins" id="potential_turnover-diff">275,800</h5>
                    <div class="stat-percent font-bold" id="potential_turnover-diff-percent"></div>
                    <small>Разница с пред. периодом:</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Ср. скорость продаж</h5>
                </div>
                <div class="ibox-content sk-loading">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <h2 class="no-margins" id="avg_sale_speed">80,600</h2>
                    <h5 class="no-margins" id="avg_sale_speed-diff">275,800</h5>
                    <div class="stat-percent font-bold" id="avg_sale_speed-diff-percent"></div>
                    <small>Разница с пред. периодом:</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Cр. выручка на продавца</h5>
                </div>
                <div class="ibox-content sk-loading">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <h2 class="no-margins" id="sales_to_seller">80,600</h2>
                    <h5 class="no-margins" id="sales_to_seller-diff">275,800</h5>
                    <div class="stat-percent font-bold" id="sales_to_seller-diff-percent"></div>
                    <small>Разница с пред. периодом:</small>
                </div>
            </div>
        </div>
    </div>

    <div class="row search-block to-toggle-loader" style="display: none">

        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h4 class="font-bold no-margins">Динамика продаж и конкуренция</h4>
                </div>
                <div class="ibox-content sk-loading">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <div>
                        <canvas style="margin: 0 auto;" id="chart-price" height="300"></canvas>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row search-block to-toggle-loader" style="display: none">
        <div class="col">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Обьем рынка у ТОП 10</h5>
                </div>
                <div class="ibox-content sk-loading">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <h2 class="no-margins" id="top_10_turnover">40 886,200</h2>
                    <h5 class="no-margins" id="top_10_turnover-diff">40 886,200</h5>
                    <div class="stat-percent font-bold" id="top_10_turnover-diff-percent"></div>
                    <small>Разница с пред. периодом:</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>% продавцов с продажами</h5>
                </div>
                <div class="ibox-content sk-loading">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <h2 class="no-margins" id="percent_sellers_with_sales">275,800</h2>
                    <h5 class="no-margins" id="percent_sellers_with_sales-diff">275,800</h5>
                    <div class="stat-percent font-bold" id="percent_sellers_with_sales-diff-percent"></div>
                    <small>Разница с пред. периодом:</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>% товаров с продажами</h5>
                </div>
                <div class="ibox-content sk-loading">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <h2 class="no-margins" id="percent_products_with_sales">106,120</h2>
                    <h5 class="no-margins" id="percent_products_with_sales-diff">275,800</h5>
                    <div class="stat-percent font-bold" id="percent_products_with_sales-diff-percent"></div>
                    <small>Разница с пред. периодом:</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Ср. рейтинг</h5>
                </div>
                <div class="ibox-content sk-loading">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <h2 class="no-margins" id="avg_rating">80,600</h2>
                    <h5 class="no-margins" id="avg_rating-diff">275,800</h5>
                    <div class="stat-percent font-bold" id="avg_rating-diff-percent"></div>
                    <small>Разница с пред. периодом:</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Ср. количество отзывов</h5>
                </div>
                <div class="ibox-content sk-loading">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <h2 class="no-margins" id="avg_reviews">80,600</h2>
                    <h5 class="no-margins" id="avg_reviews-diff">275,800</h5>
                    <div class="stat-percent font-bold" id="avg_reviews-diff-percent"></div>
                    <small>Разница с пред. периодом:</small>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="tabs-container">
                <ul class="nav nav-tabs" style="float: left;" role="tablist" data-hint-mp="1">
                    <li><a class="nav-link active" data-field="mp=wildberries&q[mp][in]" data-field-value="wildberries" data-toggle="tab" href="#tab-1">Wildberries</a></li>
                    <li><a class="nav-link" data-field="mp=ozon&q[mp][in]" data-field-value="ozon" data-toggle="tab" href="#tab-1">Ozon</a></li>
                    <li><a class="nav-link" data-field="mp=ali&q[mp][in]" data-field-value="ali" data-toggle="tab" href="#tab-1">Aliexpress</a></li>
                    <li><a class="nav-link" data-field="mp=beru&q[mp][in]" data-field-value="beru" data-toggle="tab" href="#tab-1">Я.Маркет</a></li>
                    <li><a class="nav-link" data-field="mp=kazan&q[mp][in]" data-field-value="kazan" data-toggle="tab" href="#tab-1">KazanExpress</a></li>
                    <li><a class="nav-link" data-field="mp=sber&q[mp][in]" data-field-value="sber" data-toggle="tab" href="#tab-1">СберМегаМаркет</a></li>
                </ul>
                <ul class="nav nav-tabs" style="float: right" role="tablist" data-hint-mp="2">
                    <li data-placement="top" data-original-title="Товар, проданный через площадку маркетплейса">
                        <a class="nav-link active" data-field="type" data-field-value="fbo" data-toggle="tab" href="#tab-1">FBO</a>
                    </li>
                    <li data-toggle="tooltip" data-placement="top" data-original-title="Товар, проданный через склад поставщика">
                        <a class="nav-link" data-toggle="tab" data-field="type" data-field-value="fbs"  href="#tab-1">FBS</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" id="tab-1" class="tab-pane active">
                        <div class="panel-body ibox-content sk-loading">
                            <div class="sk-spinner sk-spinner-wave">
                                <div class="sk-rect1"></div>
                                <div class="sk-rect2"></div>
                                <div class="sk-rect3"></div>
                                <div class="sk-rect4"></div>
                                <div class="sk-rect5"></div>
                            </div>
                            <div class="table-responsive">

                                <table id="model-table" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Фото</th>
                                            <th>Название</th>
                                            <th>SKU</th>
                                            <th>Продавец</th>
                                            <th>Бренд</th>
                                            <th>Наличие</th>
                                            <th>Отзывы</th>
                                            <th>Оценка</th>
                                            <th>Цена</th>
                                            <th class="sorting" style="min-width: 95px;" data-sort="Sales">Продажи</th>
                                            <th class="sorting" style="min-width: 95px;" data-state="-turnover" data-sort="turnover">Оборот</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <a style="display: none;" class="btn btn-primary btn-rounded btn-block" id="show-more" href="#">Показать еще</a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #modal .modal-dialog {
        max-width: 900px;
    }
</style>
<script src="/client/js/pages/products.js?id=22"></script>