<div style="display: block;" class="row wrapper border-bottom white-bg page-heading">
    <div class="row" id="product-info">
        <div class="col-lg-12" >
            <table>
                <tr>
                    <td id="for-image">

                    </td>
                    <td>
                        <h2 class="page-name"></h2>
                        <p style="margin-top: -10px;" class="category-path"></p>
                        <p class="link"></p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!--<div style="display: block;" class="row">
        <button style="display:none;float: right;margin: -31px 28px 0 28px;position: relative;z-index: 10;" class="btn btn-primary" id="get-sertificate">Сертифицировать товар</button>
        &lt;!&ndash;<button style="float: right;margin: -31px 28px 0;position: relative;z-index: 10;" class="btn btn-warning" id="get-stats">Заказать аналитику товара</button>&ndash;&gt;
        <a href="https://mrqz.me/613b4226157d21003f5501a5?utm_source=moneyplace&utm_medium=site&utm_campaign=promo&utm_content=link" target="_blank" style="float: right;margin: -31px 0px 0 0;position: relative;z-index: 10;border-color: #1f84c6;color: #1f84c6;" class="btn btn-default" >Отправить на фулфилмент</a>
    </div>-->
    <div class="row" style="float: right;margin-top: -35px;margin-right: 17px;height: 40px;position: relative;z-index: 100;">
        <button id="create-transaction" style="margin-right: 15px;height: 34px;" type="button" class="btn btn-outline btn-warning">Заведите меня на маркетплейс</button>
        <div class="form-group">
            <select id="services" style="background: #1cb393;color: #fff;border-radius: 3px;border: none;-webkit-appearance: none;text-align: center;font-size: 13px;" class="form-control">
                <option value="">Дополнительные опции</option>
                <option value="seo">Заказать SEO оптимизацию</option>
                <option value="cert">Сертифицировать товар</option>
                <option value="fullfilment">Отправить на фулфилмент</option>
                <!--<option value="alanytics">Заказать подбор товара</option>
                <option value="credit">Получить оборотные средства</option>-->
            </select>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content product-page" id="content">

    <div class="row to-toggle-loader product-page-first-line">
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-3">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h5>Выручка</h5>
                            <div class="information-tooltip" data-toggle="tooltip" data-placement="top" data-original-title="Разница со вчерашним днем">?</div>
                            <div class="stat-percent font-bold" id="turnover-diff"></div>
                        </div>
                        <div class="ibox-content sk-loading">
                            <div class="sk-spinner sk-spinner-wave">
                                <div class="sk-rect1"></div>
                                <div class="sk-rect2"></div>
                                <div class="sk-rect3"></div>
                                <div class="sk-rect4"></div>
                                <div class="sk-rect5"></div>
                            </div>
                            <h1 class="no-margins" id="turnover">40 886,200</h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h5>Продаж</h5>
                            <div class="information-tooltip" data-toggle="tooltip" data-placement="top" data-original-title="Разница со вчерашним днем">?</div>
                            <div class="stat-percent font-bold" id="sales-diff"></div>
                        </div>
                        <div class="ibox-content sk-loading">
                            <div class="sk-spinner sk-spinner-wave">
                                <div class="sk-rect1"></div>
                                <div class="sk-rect2"></div>
                                <div class="sk-rect3"></div>
                                <div class="sk-rect4"></div>
                                <div class="sk-rect5"></div>
                            </div>
                            <h1 class="no-margins" id="sales">275,800</h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h5>Ср. чек</h5>
                            <div class="information-tooltip" data-toggle="tooltip" data-placement="top" data-original-title="Разница со вчерашним днем">?</div>
                            <div class="stat-percent font-bold" id="bill-diff"></div>
                        </div>
                        <div class="ibox-content sk-loading">
                            <div class="sk-spinner sk-spinner-wave">
                                <div class="sk-rect1"></div>
                                <div class="sk-rect2"></div>
                                <div class="sk-rect3"></div>
                                <div class="sk-rect4"></div>
                                <div class="sk-rect5"></div>
                            </div>
                            <h1 class="no-margins" id="bill">106,120</h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h5>Остатки</h5>
                            <div class="information-tooltip" data-toggle="tooltip" data-placement="top" data-original-title="Разница со вчерашним днем">?</div>
                            <div class="stat-percent font-bold" id="amount-diff"></div>
                        </div>
                        <div class="ibox-content sk-loading">
                            <div class="sk-spinner sk-spinner-wave">
                                <div class="sk-rect1"></div>
                                <div class="sk-rect2"></div>
                                <div class="sk-rect3"></div>
                                <div class="sk-rect4"></div>
                                <div class="sk-rect5"></div>
                            </div>
                            <h1 class="no-margins" id="amount">80,600</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox-content sk-loading" id="position-hint">
                <h5 style="font-size: 12px;margin-bottom: 0;">
                    Позиция категории <button id="show-positions" class="btn btn-primary btn-xs">Все позиции</button>
                </h5>
                <div class="sk-spinner sk-spinner-wave">
                    <div class="sk-rect1"></div>
                    <div class="sk-rect2"></div>
                    <div class="sk-rect3"></div>
                    <div class="sk-rect4"></div>
                    <div class="sk-rect5"></div>
                </div>
                <div id="sparkline1" class="m-b-sm"></div>
                <div class="row" style="margin-bottom: -12px;">
                    <div class="col-5">
                        <small class="stats-label">Прошлая неделя</small>
                        <h4 id="position-last-week">-</h4>
                    </div>

                    <div class="col-4">
                        <small class="stats-label">Динамика</small>
                        <h4 id="position-increase">-</h4>
                    </div>
                    <div class="col-3">
                        <small class="stats-label">Сейчас</small>
                        <h4 id="position-now">-</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="product-modifications" style="display: none;">

    </div>

    <div class="row">
        <div class="col-lg-12">
            <div data-toggle="buttons" class="btn-group btn-group-toggle date-selector" style="float: left;">
                <span>Выберите период:</span>
                <label class="btn btn-sm btn-white active"> <input type="radio" checked id="option1" name="period" value="week"> 7 дн. </label>
                <label class="btn btn-sm btn-white"> <input type="radio" id="option2" name="period" value="two_weeks"> 14 дн. </label>
                <label class="btn btn-sm btn-white"> <input type="radio" id="option3" name="period" value="month"> 30 дн. </label>
                <label class="btn btn-sm btn-white"> <input type="radio" id="option4" name="period" value="period"> Период </label>
            </div>
            <div class="form-group" style="display: none;float: left;margin-left: 9px;margin-top: 2px;">
                <input type="text" id="date" name="q[date][between]" class="form-control">
            </div>
        </div>
    </div>

    <div class="row to-toggle-loader">
        <div class="col-lg-9">
            <div class="ibox ">
                <div class="ibox-title">
                    <h3 class="font-bold no-margins">
                        Динамика продаж
                    </h3>
                </div>
                <div class="ibox-content sk-loading">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <div class="m-t-sm">
                        <div class="row">
                            <div class="col-md-8">
                                <div>
                                    <canvas style="margin: 0 auto;" id="chart-price" height="200" ></canvas>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <ul class="stat-list m-t-lg" id="predict-sales-hint">
                                    <li>
                                        <h2 class="no-margins" id="predicted-month-turnover">0 руб.</h2>
                                        <small>Ожидаемые продажи за февраль</small>
                                        <div class="progress progress-mini">
                                            <div class="progress-bar" id="predicted-turnover-bar"></div>
                                        </div>

                                    </li>
                                    <li>
                                        <h2 class="no-margins rating"></h2>
                                        <small>Рейтинг товара</small>
                                        <div class="progress progress-mini">
                                            <div class="progress-bar" id="rating-bar"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="m-t-md">
                        <small>
                            Повышая рейтинг, вы повышаете продажи
                        </small>
                    </div>

                </div>
            </div>

        </div>
        <div class="col-lg-3">
            <div class="tabs-container">
                <ul class="nav nav-tabs" style="float: right" role="tablist">
                    <li data-placement="top" data-original-title="Товар, проданный через площадку маркетплейса">
                        <a class="nav-link active" data-field="type" data-field-value="fbo" data-toggle="tab" href="#tab-1">FBO</a>
                    </li>
                    <li data-toggle="tooltip" data-placement="top" data-original-title="Товар, проданный через склад поставщика">
                        <a class="nav-link" data-toggle="tab" data-field="type" data-field-value="fbs"  href="#tab-1">FBS</a>
                    </li>
                </ul>
                <div class="tab-content" style="margin-top: -40px;">
                    <div role="tabpanel" id="tab-1" class="tab-pane active">
                        <div class="panel-body ibox-content sk-loading table-responsive" id="product">
                            <div class="sk-spinner sk-spinner-wave">
                                <div class="sk-rect1"></div>
                                <div class="sk-rect2"></div>
                                <div class="sk-rect3"></div>
                                <div class="sk-rect4"></div>
                                <div class="sk-rect5"></div>
                            </div>
                            <table class="table" id="product-main-info" style="margin: -8px 0 -11px;">
                                <tbody>
                                <tr>
                                    <td style="border: none;">
                                        <button data-id="" data-mp="" type="product" class="add-to-my-list" title="Отслеживать"><i class="fa fa-plus-square-o"></i></button>
                                        SKU
                                    </td>
                                    <td style="border: none;" id="sku"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <button data-id="" data-mp="" type="category" class="add-to-my-list" title="Отслеживать"><i class="fa fa-plus-square-o"></i></button>
                                        Категория
                                    </td>
                                    <td id="category"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <button data-id="" data-mp="" type="brand" class="add-to-my-list" title="Отслеживать"><i class="fa fa-plus-square-o"></i></button>
                                        Бренд
                                    </td>
                                    <td id="brand"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <button data-id="" data-mp="" type="seller" class="add-to-my-list" title="Отслеживать"><i class="fa fa-plus-square-o"></i></button>
                                        Продавец
                                    </td>
                                    <td id="seller"></td>
                                </tr>
                                <tr>
                                    <td>Цена</td>
                                    <td id="price"></td>
                                </tr>
                                <tr>
                                    <td>Скидка</td>
                                    <td id="discount"></td>
                                </tr>
                                <tr>
                                    <td>Продажа</td>
                                    <td id="sellPrice"></td>
                                </tr>
                                <tr>
                                    <td>Отзывы</td>
                                    <td id="reviews"></td>
                                </tr>
                                <tr>
                                    <td>Схема работы</td>
                                    <td id="schema"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row to-toggle-loader">
        <div class="col-lg-9">
            <div class="ibox ">
                <div class="ibox-title">
                    <h3 class="font-bold no-margins">
                        Состояние склада
                    </h3>
                </div>
                <div class="ibox-content sk-loading">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <div class="m-t-sm">
                        <div class="row">
                            <div class="col-md-8">
                                <div>
                                    <canvas style="margin: 0 auto;" id="chart-amount" height="200"></canvas>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <ul class="stat-list m-t-lg" id="ali-bug">
                                    <li>
                                        <h2 class="no-margins" id="predicted-amount-finish">-</h2>
                                        <small>Осталось до обнуления остатков</small>
                                        <div class="progress progress-mini">
                                            <div class="progress-bar" id="predicted-amount-finish-bar"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <h2 class="no-margins" id="predicted-amount-finish-date">05.12.2020</h2>
                                        <small>Рекомендуемая дата поставки</small>
                                        <div class="progress progress-mini">
                                            <div class="progress-bar" id="predicted-amount-finish-date-bar"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="m-t-md">
                        <small>
                            Обнуление остатков, ведет к пессимизации выдачи
                        </small>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Сравнение с прошлой неделей</h5>
                </div>
                <div class="ibox-content sk-loading">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <small class="stats-label">Продаж</small>
                            <h4 id="sales-this-week">-</h4>
                        </div>

                        <div class="col-4">
                            <small class="stats-label">%</small>
                            <h4 id="sales-difference">-</h4>
                        </div>
                        <div class="col-4">
                            <small class="stats-label">Было</small>
                            <h4 id="sales-last-week">-</h4>
                        </div>
                    </div>
                </div>
                <div class="ibox-content sk-loading">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <small class="stats-label">Ск. продаж</small>
                            <h4 id="sales-speed-this-week">-</h4>
                        </div>

                        <div class="col-4">
                            <small class="stats-label">%</small>
                            <h4 id="sales-speed-difference">-</h4>
                        </div>
                        <div class="col-4">
                            <small class="stats-label">Было</small>
                            <h4 id="sales-speed-last-week">-</h4>
                        </div>
                    </div>
                </div>
                <div class="ibox-content sk-loading">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <div class="row" style="margin-bottom: 32px;">
                        <div class="col-4">
                            <small class="stats-label">Склад</small>
                            <h4 id="amount-this-week">-</h4>
                        </div>

                        <div class="col-4">
                            <small class="stats-label">%</small>
                            <h4 id="amount-diffetence">-</h4>
                        </div>
                        <div class="col-4">
                            <small class="stats-label">Было</small>
                            <h4 id="amount-last-week">-</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row to-toggle-loader" id="product-wharehouses" style="display: none;margin-top: 40px;">
        <div class="col-lg-9">
            <div class="ibox ">
                <div class="ibox-title">
                    <h3 class="font-bold no-margins">
                        Динамика продаж по складам
                    </h3>
                </div>
                <div class="ibox-content sk-loading">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <div class="m-t-sm">
                        <div class="row">
                            <div class="col-md-12">
                                <div>
                                    <canvas style="margin: 0 auto;" id="chart-product-wharehouses" height="200"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="tabs-container">
                <ul class="nav nav-tabs" style="float: right" role="tablist">
                    <li data-placement="top" data-original-title="Товар, проданный через площадку маркетплейса">
                        <a class="nav-link active"  data-toggle="tab" href="#tab-2">Продажи</a>
                    </li>
                    <li data-toggle="tooltip" data-placement="top" data-original-title="Товар, проданный через склад поставщика">
                        <a class="nav-link" data-toggle="tab"  href="#tab-2">Наличие</a>
                    </li>
                </ul>
                <div class="tab-content" style="margin-top: -40px;">
                    <div role="tabpanel" id="tab-2" class="tab-pane active">
                        <div class="ibox ">
                            <div class="ibox-title">
                                <h5>Сводные данные по складам</h5>
                            </div>
                            <div class="ibox-content sk-loading">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row to-toggle-loader" id="product-colors" style="display: none;margin-top: 40px;">
        <div class="col-lg-9">
            <div class="ibox ">
                <div class="ibox-title">
                    <h3 class="font-bold no-margins">
                        Динамика продаж по цветам
                    </h3>
                </div>
                <div class="ibox-content sk-loading">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <div class="m-t-sm">
                        <div class="row">
                            <div class="col-md-12">
                                <div>
                                    <canvas style="margin: 0 auto;" id="chart-product-colors" height="200"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="tabs-container">
                <ul class="nav nav-tabs" style="float: right" role="tablist">
                    <li data-placement="top" data-original-title="Товар, проданный через площадку маркетплейса">
                        <a class="nav-link active" data-toggle="tab" href="#tab-2">Продажи</a>
                    </li>
                    <li data-toggle="tooltip" data-placement="top" data-original-title="Товар, проданный через склад поставщика">
                        <a class="nav-link" data-toggle="tab"  href="#tab-2">Наличие</a>
                    </li>
                </ul>
                <div class="tab-content" style="margin-top: -40px;">
                    <div role="tabpanel" id="tab-3" class="tab-pane active">
                        <div class="ibox ">
                            <div class="ibox-title">
                                <h5>Сводные данные по цветам</h5>
                            </div>
                            <div class="ibox-content sk-loading">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row to-toggle-loader" id="product-sizes" style="display: none;margin-top: 40px;">
        <div class="col-lg-9">
            <div class="ibox ">
                <div class="ibox-title">
                    <h3 class="font-bold no-margins">
                        Динамика продаж по размерам
                    </h3>
                </div>
                <div class="ibox-content sk-loading">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <div class="m-t-sm">
                        <div class="row">
                            <div class="col-md-12">
                                <div>
                                    <canvas style="margin: 0 auto;" id="chart-product-sizes" height="200"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="tabs-container">
                <ul class="nav nav-tabs" style="float: right" role="tablist">
                    <li data-placement="top" data-original-title="Товар, проданный через площадку маркетплейса">
                        <a class="nav-link active"  data-toggle="tab" href="#tab-2">Продажи</a>
                    </li>
                    <li data-toggle="tooltip" data-placement="top" data-original-title="Товар, проданный через склад поставщика">
                        <a class="nav-link" data-toggle="tab"   href="#tab-2">Наличие</a>
                    </li>
                </ul>
                <div class="tab-content" style="margin-top: -40px;">
                    <div role="tabpanel" id="tab-4" class="tab-pane active">
                        <div class="ibox ">
                            <div class="ibox-title">
                                <h5>Сводные данные по размерам</h5>
                            </div>
                            <div class="ibox-content sk-loading">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-content sk-loading">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <div class="table-responsive">
                        <table id="model-table" class="table table-striped">
                            <thead>
                                <th>Дата</th>
                                <th>Позиция</th>
                                <th>Отзывы</th>
                                <th>Новые отзывы</th>
                                <th>Рейтинг</th>
                                <th>Количество</th>
                                <th>Цена</th>
                                <th>Скидка</th>
                                <th>Цена продажи</th>
                                <th>Продажи</th>
                                <th>Выручка</th>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <h3>Вам может быть интересно:</h3>
            </div>
        </div>
    </div>
    <div class="row" id="competitors">

    </div>
</div>

<style>
    #modal .modal-dialog {
        max-width: 800px;
    }
</style>

<!-- modal about video -->

<div class="modal inmodal" id="get-sertificate-modal" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated flipInY">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Сертифицировать товар</h4>
            </div>
            <div class="modal-body">
                <p style="text-align: center;">
                    Вы можете заказать консультацию по сертификации данного товара через Moneyplace. После оплаты консультации, с вами в порядке очереди свяжется сертификационный менеджер и ответит на все интересующие вопросы.
                </p>
                <p style="text-align: center;">При заказе сертификата на товар, стоимость консультации будет вычтена из стоимости</p>
                <button id="btn-get-cert" style="margin: 0 auto;display: block;" type="button" class="btn btn-success">Заказать консультацию</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="get-stats-modal" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated flipInY">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Заказать аналитику</h4>
            </div>
            <div class="modal-body">
                <p style="text-align: center;">
                    Если вы хотите точно определиться с товаром, который стоит заводить на маркетплейс или у вас нет
                    желания заниматься анализом рынка, сегментарным анализом, конкурентной разведкой, финансовой аналитикой
                    и поиском оптовика, оставьте заявку на данный товар и мы сделаем для вас аналитический отчет.
                </p>
                <p style="text-align: center;">
                    Все что вам останется - это закупить у поставщика товар и завести его на маркетплейс
                </p>
                <p style="text-align: center;">
                    Нажмите оплатить и в течении 3 суток мы подготовим для вас глубокую аналитику по данному
                    товару. Ссылка на аналитический отчет придет на почту, указанную при регистрации вашего аккаунта.
                </p>
                <button id="get-payment" style="margin: 0 auto;display: block;" type="button" class="btn btn-success">Оплатить (6000 руб)</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="get-seo-modal" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated flipInY">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Для чего нужна SEO оптимизация товарных карточек?</h4>
            </div>
            <div class="modal-body">
                <p style="text-align: center;">
                    1. Во первых, чтобы привлечь на свою карточку больше трафика, благодаря тому, что она начинает выводиться по новым ключевым запросам
                    <br />
                    2. Во вторых, чтобы избавиться от конкуренции и, например, выводиться только по неконкурентным ключам. Вы можете даже выводиться по ключевым
                    запросам, где менее 100 конкурентных товаров - а это Гарантия того, что вы сразу попадете на 1 страницу выдачи по популярности, ведь на 1 странице
                    размещается 100 товаров
                </p>
                <p style="text-align: center;">
                    Вы можете заказать у команды Moneyplace грамотно оптимизированный текст, который будет включать: заголовок по выбранному товару, описание,
                    оптимизированные отзыв и вопрос,  оптимизированные ответ на отзыв и ответ на вопрос.
                    Ответы вы сможете использовать в дальнейшем уже на органические отзывы и вопросы
                </p>
                <button id="get-seo-btn" style="margin: 0 auto;display: block;" type="button" class="btn btn-success">Заказать SEO оптимизацию</button>
                <p style="text-align: center;margin-top: 10px;">
                    Стоимость оптимизации 1 карточки 2500 руб, минимальный заказ 5 карточек товара
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="get-credit-modal" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated flipInY">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Получите деньги на развитие магазина</h4>
            </div>
            <div class="modal-body">
                <p style="text-align: center;">
                    Своевременное пополнение оборотных средств - это главная необходимость для роста вашего торгового бизнеса. Если вы хотите
                    продолжить быстрый рост, не дожидаясь выплат от маркетплейса или задумываетесь делать закупы большими партиями, чтобы снизить
                    себестоимость товара, оставьте заявку на финансирование своего магазина до 10 000 000 руб.
                </p>
                <p style="text-align: center;">
                    В течении нескольких дней мы рассмотрим ваш запрос и свяжемся для обсуждения одобренной суммы и сроков займа
                </p>
                <div class="form-group">
                    <label for="credit-sum">Укажите желаемую сумму финансирования</label>
                    <input type='tel' pattern="[0-9\-]+" class="form-control" name="turnover" placeholder="100000" id="credit-sum">
                </div>
                <button id="get-credit-btn" style="margin: 0 auto;display: block;" type="button" class="btn btn-success">Отправить заявку на получение средств</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>


<div class="modal inmodal" id="get-ff-modal" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated flipInY">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Услуга фулфилмента</h4>
            </div>
            <div class="modal-body">
                <p style="text-align: center;">
                    Если вы живете в регионе или у вас отсутствует собственный склад,
                    Вы можете воспользоваться услугами нашего Фулфилмента.
                </p>
                <p style="text-align: center;">
                    Это значит, что вы заказываете у поставщика (где бы он не находился) товар,
                    и указываете адрес нашего склада в подмосковье, далее мы примем ваш товар,
                    проверим на брак, упакуем, полностью подготовим к отправке и организуем
                    поставку на маркетплейс
                </p>
                <p style="text-align: center;">
                    Благодаря нам, вы сможете создать полностью удаленный бизнес, без складов
                    и сотрудников. Доверьте эту работу профессионалам Маниплейс!
                </p>
                <a  style="margin: 0 auto;display: block;" href="https://bazaseller.ru/moneyplace" target="_blank" class="btn btn-success">Заказать консультацию по услуге Фулфилмента</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<script src="/client/js/pages/product.js?id=45"></script